{% extends "base.html" %}
{% block content%}
{% load bootstrap3 %}

<div class="container">
    <h1 class="detailTitle">{{restaurant.name}}</h1>
    <ol class="restaurantList">
      <li><a href="{% url 'restaurants:category_detail' slug=restaurant.category.slug %}">{{restaurant.category}}</a>
      {% if restaurant.opening_hours and restaurant.closing_hours %}

    <a>{{restaurant.opening_hours}}</a>
    <span> - </span>
    <a>{{restaurant.closing_hours}}</a>
    {% endif %}

  {% if restaurant.address %}
  <br>
    <a>{{restaurant.address}}</a>
  {% endif %}
  {% if restaurant.price %}
  <span> - </span>
    {% if restaurant.price == 1%}
      <a>tanio</a>
    {% elif restaurant.price == 2 %}
      <a>przystępnie</a>
    {% else %}
      <a>drogo</a>
    {% endif %}

  {% endif %}

  {% if restaurant.rate %}
  <br>
    <a>{{restaurant.rate}}</a>
  {% else %}
    no rate yet
  {% endif %}

  {% if restaurant.infoRate %}
  <br>
  info rate:
    <a>{{restaurant.infoRate}}</a>
  {% else %}
    no rate yet
  {% endif %}

  {% if  user.is_authenticated %}
    user's rating: {{userRating}}
    user's info rating : {{userInfoRating}}
  {% endif %}

  </li>

    </ol>


    {% if user.is_authenticated %}

    <a class="nav-item nav-link active button-edit" href="{% url 'restaurants:edit_restaurant' pk=restaurant.pk %}">edit</a>


        {% if isFav == True %}
          <form method="post">
            {% csrf_token %}
            <input type="submit" class="btn" value="del fav" name="del_fav">
          </form>

        {% else %}
          <form method="post">
            {% csrf_token %}
            <input type="submit" class="btn" value="add fav" name="add_fav">
          </form>

        {% endif %}






</div>

<br>
restaurant rating:
<form method="post">
  {% csrf_token %}
 <input type="text" value="5" name="rating" size="1"/>
 <input type="submit" class="btn" value="add rating" name="addRating">
</form>
<br>
restaurant info accuracy rating:
<form method="post">
  {% csrf_token %}
 <input type="submit" class="btn" value="+" name="positiveRating">
</form>
<form method="post">
  {% csrf_token %}
 <input type="submit" class="btn" value="-" name="negativeRating">
</form>

<br>
<form method="post">
  {% csrf_token %}
 <input type="text" value="tytuł" name="title" size="30"/>
 <input type="text" name="body" value="treść" size="255">
 <input type="submit" class="btn" value="add comm" name="addComm">
</form>

{% endif %}

comments:<br>


{% for obj in items%}

<li>
  {{obj.author}}
  <br>
  {{obj.title}}
  <br>
  {{obj.body}}


</li>
{% endfor %}
{% include 'pagination.html' %}


{% endblock %}
