{% extends "base.html" %}


{% block content%}
<section class="main-content">
  <div class="text-box text-white">
    <div class="roller">
      <p>Welcome</p>
      <p>To</p>
      <p>ClickEat</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg col-md-12"
      {% if user.is_authenticated %}
      onclick="location.href='/accounts/profile/';"
      {% else %}
       onclick="location.href='/accounts/signup/';"
       {% endif %}
      >
        <div class="middle-col"></div>
        <div class="container-text">
            {% if user.is_authenticated %}
            Profile
           {% else %}
           Sing up
           {% endif %}
        </div>
      </div>
      <div class="col-lg col-sm-12" onclick="location.href='/restaurants/';">
        <div class="middle-col"></div>
        <div class="container-text">
          Choose a restaurant
        </div>
      </div>
      <div class="col-lg col-sm-12" onclick="location.href='/restaurants/categories/';">
        <div class="middle-col"></div>
        <div class="container-text">
          Enjoy your food
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}