{% extends "base.html" %}
{% block content %}
{% load bootstrap3 %}

<div>
        <h1 class="detailTitle">profile</h1>

        <ol class="restaurantList">
            <li><a>{{user.username}}</a></li>
        </ol>


<h1 class="title">Favourite restaurants</h1>



<div class="restaurantList">
    {% for obj in items%}
  <div>
      <a href="{% url 'restaurants:detail' slug=obj.restaurant.slug %}">{{obj.restaurant.name}}</a>
      {%for i in categories%}
      
       {% if i.restaurant.name == obj.restaurant.name %}
        <a href="{% url 'restaurants:category_detail' slug=i.category.slug %}">  {{i.category.name }}  </a>
       {% endif%}
      {%endfor%}
    </div>
  
    {% endfor %}
</div>



</div>

{% include 'pagination.html' %}

{% endblock %}
