{% extends "base.html" %}
{% block content %}


<nav class="navbar navbar-light bg-light">
  <form class="form-inline" method="GET" action="{% url 'restaurants:search' %}">
    <input class="form-control mr-sm-2" type="search" value="{{request.GET.get}}" placeholder="jaka restauracja?" aria-label="Search" name="q">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

{% for obj in items%}

<h1><a href="{% url 'restaurants:detail' slug=obj.slug %}">{{obj.name}}</a></h1>
<p><a href="{% url 'restaurants:category_detail' slug=obj.category.slug %}">{{obj.category}}</a></p>

{% if obj.opening_hours and obj.closing_hours %}
  {% if obj.opening_hours <= now.time and obj.closing_hours >= now.time%}
    otwarte teraz
  {% else %}
    zaknięte teraz
  {%endif%}
{% endif %}

{{obj.address}}

{{obj.price}}

{% endfor %}
{% include 'pagination.html' %}

{% endblock %}
